.block-tiket{
    display: flex;
    flex-direction: column;
}

.block-form-tiket{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 2px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.elementMarginBottom-tiket{
    margin-bottom: 10px;
}

.block-inputs-tiket{
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
}

.inputs-tiket--left{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.inputs-tiket--center{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.block-Date-tiket{
    display: flex;
    flex-direction: row;
}

.block-Btn-tiket{
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
    
.input-width-tiket{
    width: 200px;
}

.inputDate-margin-tiket{
    margin-right: 10px;
}

.block-result-tiket{
    display: flex;
    flex-direction: column;
}

.block-title-tiket{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cornsilk;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 790px) {
    .block-form-tiket{
        flex-wrap: wrap;
    }
}