.block-newAppeal{
    display: flex;
    flex-direction: column;
}

.block-form-newAppeal{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2px;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.elementMarginBottom-newAppeal{
    margin-bottom: 10px;
}

.block-inputs-newAppeal{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.block-Date-newAppeal{
    display: flex;
    flex-direction: row;
}

.block-Btn-newAppeal{
    margin: 20px 0;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; */
    /* flex-basis: 50%; */
}
  
.serviceInput-width-newAppeal{
    width: 200px;
}

.input-width-newAppeal{
    width: 400px;
}

.inputDate-margin-newAppeal{
    margin-right: 10px;
}

.description-newAppeal{
    resize: vertical;
}

.block-result-newAppeal{
    display: flex;
    flex-direction: column;
}

.block-title-newAppeal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cornsilk;
    border-bottom: 1px solid #000;
}