.block-appeal{
    display: flex;
    flex-direction: column;
}

.block-form-appeal{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.elementMarginBottom-appeal{
    margin-bottom: 10px;
}

.block-inputs-appeal{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.block-Date-appeal{
    display: flex;
    flex-direction: row;
}

.block-Btn-appeal{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-basis: 50%;
}
    
.input-width-appeal{
    width: 200px;
}

.inputDate-margin-appeal{
    margin-right: 10px;
}

.block-result-appeal{
    display: flex;
    flex-direction: column;
}

.block-title-appeal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cornsilk;
    border-bottom: 1px solid #000;
}