.block-tiketCreate{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
}

/* .block-form-tiketCreate{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2px;
} */

.elementMarginBottom-tiketCreate{
    margin-bottom: 10px;
}

.block-inputs-tiketCreate{
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
}

.inputs-tiketCreate--left{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.inputs-tiketCreate--center{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.block-Date-tiketCreate{
    display: flex;
    flex-direction: row;
}

.block-Btn-tiketCreate{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
    
.input-width-tiketCreate{
    width: 200px;
}

.description-tiketCreate{
    width: 350px;
}

.inputDate-margin-tiketCreate{
    margin-right: 10px;
}

.block-result-tiketCreate{
    display: flex;
    flex-direction: column;
}

.block-title-tiketCreate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cornsilk;
    border-bottom: 1px solid #000;
}