* {
    box-sizing: border-box;
}

.block-tiketEditPut{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.block-text-tiketEditPut{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2px;
}

.elementMarginBottom-tiketEditPut{
    margin-bottom: 10px;
}

.block-inputs-tiketEditPut{
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
}

.text-tiketEditPut--left,
.inputs-tiketEditPut--left{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.text-tiketEditPut--center,
.inputs-tiketEditPut--center{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.text-tiketEditPut{
    margin: 1px;
}

.block-Date-tiketEditPut{
    display: flex;
    flex-direction: row;
}

.open-Btn-tiketEditPut{
    margin: 30px auto;
}
.block-Btn-tiketEditPut{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
    
.input-width-tiketEditPut{
    width: 200px;
}

.description-tiketEditPut{
    width: 350px;
}

.inputDate-margin-tiketEditPut{
    margin-right: 10px;
}

.block-result-tiketEditPut{
    display: flex;
    flex-direction: column;
}

.block-title-tiketEditPut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cornsilk;
    border-bottom: 1px solid #000;
}

.block-history-tiketEditPut{
    border-top: 1px solid #adadad;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.wrapp-history{
    margin-top: 5px;
    border: 1px solid #adadad;
    padding: 5px;
}

.wrapp-history-tiket{
    margin: 5px 0;
    padding: 5px;
    background-color: #b9d8ff;
    border: 1px solid #6f65fd;
}

.block-Time-tiket{
    display: flex;
    flex-direction: row;
    width: 95px;
    justify-content: space-between;
}

.inputTime-width-tiketEditPut{
    width: 28px;
}